.stonesize{
    width:130px;
    height:130px;
    
    
}

body{
    background-image: url("../images/space.jpg");
    
}

#gameheader{
    color: cornflowerblue;
    font-size: 33px;
    
}

#instructions{
    background : lemonchiffon;
    color: dodgerblue;
    font-size:18px;
}



.score{
    border: 2px solid dodgerblue;
    font-size: 18px;
    color:aliceblue;
    background:slategray;
    
}

